table {
    border-collapse: collapse;
		font-size: 100px;
    margin : auto;
    margin-top: 7%;
    margin-bottom: 50px;
}

td, th {
	  border: 5px solid #dddddd;
		text-align: center;
		padding: 8px;
		width: 160px;
		height: 160px;
    background-color: white;
}

body {
  background-color: #dddddd;
  font-family: helvetica, sans-serif;
}

#msgdiv {
  background-color: #eeeeee;
  font-weight: bold;
  border: 3px solid #dddddd;
  display: none;
  text-align: center;
  padding: 15px;
}

#msg {
    margin-block-start: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#resetbutton {
  transition-duration: O.5s;
  -webkit-transition-duration: 0.5s;
  border-radius: 5px;
  padding: 10px;
  font-family: helvetica;
  background-color: #fdfdfd;
}

#resetbutton:hover {
  background-color: lightgrey;
}

#score {
  display: inline;
  font-family: helvetica;
  font-weight: bold;
  margin-top: 17%;
  text-align: left;
  position: absolute;
}

#score_player, #score_ai, #score_draw {
  margin-left: 100px;
}
